USE [BrewLite]
GO
/****** Object:  Table [dbo].[_prisma_migrations]    Script Date: 9/29/2026 4:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_prisma_migrations](
	[id] [varchar](36) NOT NULL,
	[checksum] [varchar](64) NOT NULL,
	[finished_at] [datetimeoffset](7) NULL,
	[migration_name] [nvarchar](250) NOT NULL,
	[logs] [nvarchar](max) NULL,
	[rolled_back_at] [datetimeoffset](7) NULL,
	[started_at] [datetimeoffset](7) NOT NULL,
	[applied_steps_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 9/29/2026 4:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[status] [nvarchar](1000) NOT NULL,
	[total] [int] NOT NULL,
	[discount] [int] NOT NULL,
	[loyaltyEarned] [int] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [Order_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 9/29/2026 4:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[size] [nvarchar](1000) NOT NULL,
	[qty] [int] NOT NULL,
	[unitPrice] [int] NOT NULL,
	[lineTotal] [int] NOT NULL,
	[toppings] [nvarchar](1000) NULL,
 CONSTRAINT [OrderItem_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 9/29/2026 4:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[idempotencyKey] [nvarchar](1000) NOT NULL,
	[amount] [int] NOT NULL,
	[method] [nvarchar](1000) NOT NULL,
	[status] [nvarchar](1000) NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
 CONSTRAINT [Payment_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 9/29/2026 4:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](1000) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[price] [int] NOT NULL,
	[imageUrl] [nvarchar](1000) NULL,
	[stock] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [Product_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/29/2026 4:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](1000) NOT NULL,
	[passwordHash] [nvarchar](1000) NOT NULL,
	[name] [nvarchar](1000) NULL,
	[loyaltyPoints] [int] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [User_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[_prisma_migrations] ([id], [checksum], [finished_at], [migration_name], [logs], [rolled_back_at], [started_at], [applied_steps_count]) VALUES (N'201bbdd5-9095-4332-890f-d5f23990ca1a', N'59e3e35342dd4ca4924ac66d21ecd91e8d29746af88b29ee3ce33d3f49093e09', CAST(N'2026-09-21T09:41:38.0051921+00:00' AS DateTimeOffset), N'20260921094137_init', NULL, NULL, CAST(N'2026-09-21T09:41:37.9675138+00:00' AS DateTimeOffset), 1)
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id], [userId], [status], [total], [discount], [loyaltyEarned], [createdAt], [updatedAt]) VALUES (1, 1, N'PAID', 50000, 0, 0, CAST(N'2026-09-22T09:16:19.9270000' AS DateTime2), CAST(N'2026-09-29T06:59:46.3820000' AS DateTime2))
INSERT [dbo].[Order] ([id], [userId], [status], [total], [discount], [loyaltyEarned], [createdAt], [updatedAt]) VALUES (2, 1, N'PAID', 140000, 0, 0, CAST(N'2026-09-22T09:25:16.7660000' AS DateTime2), CAST(N'2026-09-29T06:59:13.9890000' AS DateTime2))
INSERT [dbo].[Order] ([id], [userId], [status], [total], [discount], [loyaltyEarned], [createdAt], [updatedAt]) VALUES (3, 4, N'PAID', 50000, 0, 0, CAST(N'2026-09-29T06:26:39.3840000' AS DateTime2), CAST(N'2026-09-29T06:54:10.3470000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([id], [orderId], [productId], [size], [qty], [unitPrice], [lineTotal], [toppings]) VALUES (1, 1, 1, N'L', 1, 50000, 50000, N'["Trân châu"]')
INSERT [dbo].[OrderItem] ([id], [orderId], [productId], [size], [qty], [unitPrice], [lineTotal], [toppings]) VALUES (2, 2, 2, N'L', 1, 55000, 55000, N'["Trân châu"]')
INSERT [dbo].[OrderItem] ([id], [orderId], [productId], [size], [qty], [unitPrice], [lineTotal], [toppings]) VALUES (3, 2, 2, N'M', 1, 45000, 45000, NULL)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([id], [orderId], [idempotencyKey], [amount], [method], [status], [createdAt]) VALUES (1, 3, N'PAY-3-1790664850276', 50000, N'CARD', N'PAID', CAST(N'2026-09-29T06:54:10.2870000' AS DateTime2))
INSERT [dbo].[Payment] ([id], [orderId], [idempotencyKey], [amount], [method], [status], [createdAt]) VALUES (2, 2, N'PAY-2-1790665153929', 140000, N'CARD', N'PAID', CAST(N'2026-09-29T06:59:13.9400000' AS DateTime2))
INSERT [dbo].[Payment] ([id], [orderId], [idempotencyKey], [amount], [method], [status], [createdAt]) VALUES (3, 1, N'PAY-1-1790665186338', 50000, N'CARD', N'PAID', CAST(N'2026-09-29T06:59:46.3400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [description], [price], [imageUrl], [stock], [isActive], [createdAt], [updatedAt]) VALUES (1, N'Cà phê sữa', N'Cà phê sữa truyền thống', 35000, N'/images/ca-phe-sua.jpg', 39, 1, CAST(N'2026-09-21T17:00:36.3400000' AS DateTime2), CAST(N'2026-09-29T08:38:57.6490000' AS DateTime2))
INSERT [dbo].[Product] ([id], [name], [description], [price], [imageUrl], [stock], [isActive], [createdAt], [updatedAt]) VALUES (2, N'Americano', N'Americano đậm vị', 40000, N'/images/americano.jpg', 47, 1, CAST(N'2026-09-21T17:00:36.3400000' AS DateTime2), CAST(N'2026-09-29T08:34:23.4300000' AS DateTime2))
INSERT [dbo].[Product] ([id], [name], [description], [price], [imageUrl], [stock], [isActive], [createdAt], [updatedAt]) VALUES (3, N'Cappuccino', N'Cappuccino thơm béo', 45000, N'/images/cappuccino.jpg', 30, 1, CAST(N'2026-09-21T17:00:36.3400000' AS DateTime2), CAST(N'2026-09-21T17:00:36.3400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [email], [passwordHash], [name], [loyaltyPoints], [createdAt], [updatedAt]) VALUES (1, N'demo@brewlite.local', N'TEMP_PASSWORD', N'Khách hàng Demo', 0, CAST(N'2026-09-22T16:13:16.5533333' AS DateTime2), CAST(N'2026-09-22T16:13:16.5533333' AS DateTime2))
INSERT [dbo].[User] ([id], [email], [passwordHash], [name], [loyaltyPoints], [createdAt], [updatedAt]) VALUES (2, N'nguyen@example.com', N'123456', N'Nguyen', 0, CAST(N'2026-09-22T09:39:37.1840000' AS DateTime2), CAST(N'2026-09-22T09:39:37.1840000' AS DateTime2))
INSERT [dbo].[User] ([id], [email], [passwordHash], [name], [loyaltyPoints], [createdAt], [updatedAt]) VALUES (3, N'jwt_test@brewlite.local', N'$2b$10$HbBoMSmu2nvq80H52XE0veREHCnTDkmfsrEma8D4b4JbWKSc4ilIa', N'JWT Test', 0, CAST(N'2026-09-29T06:20:26.0580000' AS DateTime2), CAST(N'2026-09-29T06:20:26.0580000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Payment_idempotencyKey_key]    Script Date: 9/29/2026 4:20:34 PM ******/
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [Payment_idempotencyKey_key] UNIQUE NONCLUSTERED 
(
	[idempotencyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [User_email_key]    Script Date: 9/29/2026 4:20:34 PM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [User_email_key] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[_prisma_migrations] ADD  DEFAULT (getdate()) FOR [started_at]
GO
ALTER TABLE [dbo].[_prisma_migrations] ADD  DEFAULT ((0)) FOR [applied_steps_count]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [Order_status_df]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [Order_discount_df]  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [Order_loyaltyEarned_df]  DEFAULT ((0)) FOR [loyaltyEarned]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [Order_createdAt_df]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [Payment_status_df]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [Payment_createdAt_df]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [Product_stock_df]  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [Product_isActive_df]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [Product_createdAt_df]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [User_loyaltyPoints_df]  DEFAULT ((0)) FOR [loyaltyPoints]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [User_createdAt_df]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [Order_userId_fkey] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [Order_userId_fkey]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [OrderItem_orderId_fkey] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [OrderItem_orderId_fkey]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [OrderItem_productId_fkey] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [OrderItem_productId_fkey]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [Payment_orderId_fkey] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [Payment_orderId_fkey]
GO
